---
import { Image } from "astro:assets";
import btnIcon from "../../assets/icons/btn-icon.svg";
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <div
      class="text-center bg-cardColor rounded-xxxl lg:px-[150px] lg:py-[88px] py-section-padding-mobile px-container-padding-mobile"
    >
      <h3
        class="lg:text-heading-desktop text-center mb-text-gap-medium text-heading-mobile md:text-subheading-mobile leading-heading-mobile lg:leading-heading-desktop font-black text-textPrimary font-ppradio"
      >
        Ready to start your journey?
      </h3>
      <p
        class="text-body-mobile text-center mb-heading-margin-top-desktop md:text-body-desktop leading-body-mobile lg:leading-large-mobile max-w-[880px] mx-auto font-normal text-textPrimary font-figtree"
      >
        Create your style profile and meet our community of jewellers.
      </p>
      <div
        class="flex flex-col md:flex-row md:gap-text-gap-small gap-xxs items-center justify-center w-full"
      >
        <button
          type="button"
          class="cursor-pointer bg-btnPrimary text-white text-body-mobile leading-body-mobile py-button-padding-y min-h-[56px] w-full md:w-[auto] md:min-w-[200px] px-button-padding-x-desktop rounded-full font-figtree font-medium flex items-center justify-center gap-3"
        >
          Get Started for Free
        </button>

        <button
          type="button"
          class="cursor-pointer bg-transparent border border-borderOutline text-textPrimary text-body-mobile leading-body-mobile py-button-padding-y min-h-[56px] md:w-[auto] w-full md:min-w-[200px] text-center px-button-padding-x-desktop rounded-full font-figtree font-medium"
        >
          Contact Us
        </button>
      </div>
    </div>
  </div>
</section>