---
import { Image } from "astro:assets";
import about1 from "../../assets/icons/about-1.svg";
import about2 from "../../assets/icons/about-2.svg";
import about3 from "../../assets/icons/about-3.svg";
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <!-- Heading -->
    <div class="overflow-hidden">
      <h2
        data-aos="fade-up"
        class="lg:text-heading-desktop text-heading-mobile lg:leading-heading-desktop leading-heading-mobile font-black text-center font-ppradio text-textPrimary md:mb-text-gap-small mb-m"
      >
        Our beliefs
      </h2>
    </div>

    <!-- Cards -->
    <div
      class="grid md:grid-cols-3 lg:gap-component-gap-medium gap-m lg:mt-grid-gap-desktop mt-text-gap-medium"
    >
      <!-- Card 1 -->
      <div class="bg-cardColor rounded-xxxl p-container-padding-mobile">
        <div
          class="w-[64px] h-[64px] flex items-center justify-center bg-brand-1 rounded-xl mb-text-gap-medium"
        >
          <Image src={about1} alt="icon" class="w-[32px] h-[32px]" />
        </div>
        <h3
          class="lg:text-heading-mobile text-[22px] lg:leading-heading-mobile leading-[26px] font-black mb-s text-textPrimary font-ppradio"
        >
          Craftsmanship over commerce
        </h3>
        <p
          class="lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary font-figtree"
        >
          We believe a ring's value comes from the skill of the hands that made
          it, not the size of the brand that sells it. We champion independent
          makers and their dedication to quality.
        </p>
      </div>

      <!-- Card 2 -->
      <div class="bg-cardColor rounded-xxxl p-container-padding-mobile">
        <div
          class="w-[64px] h-[64px] flex items-center justify-center bg-brand-1 rounded-xl mb-text-gap-medium"
        >
          <Image src={about2} alt="icon" class="w-[32px] h-[32px]" />
        </div>
        <h3
          class="lg:text-heading-mobile text-[22px] lg:leading-heading-mobile leading-[26px] font-black mb-s text-textPrimary font-ppradio"
        >
          Transparency is non-negotiable
        </h3>
        <p
          class="lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary font-figtree"
        >
          The bespoke process shouldn't be a mystery. We believe in clear
          pricing, honest timelines, and giving you the information you need to
          feel confident and in control.
        </p>
      </div>

      <!-- Card 3 -->
      <div class="bg-cardColor rounded-xxxl p-container-padding-mobile">
        <div
          class="w-[64px] h-[64px] flex items-center justify-center bg-brand-1 rounded-xl mb-text-gap-medium"
        >
          <Image src={about3} alt="icon" class="w-[32px] h-[32px]" />
        </div>
        <h3
          class="lg:text-heading-mobile text-[22px] lg:leading-heading-mobile leading-[26px] font-black mb-s text-textPrimary font-ppradio"
        >
          A personal ring deserves a personal connection
        </h3>
        <p
          class="lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary font-figtree"
        >
          We believe the best results come from collaboration. Our goal is to
          introduce you to a creative partner who will listen to your story and
          help you bring your vision to life.
        </p>
      </div>
    </div>
  </div>
</section>