---
import { Image } from "astro:assets";
import btnIcon from "../../assets/icons/btn-icon.svg";
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <div class="grid md:grid-cols-2 md:gap-[82px] gap-text-gap-medium items-start">
      <div class="flex flex-col justify-between h-full">
        <h2
          class="lg:text-heading-desktop text-center md:text-start text-heading-mobile font-black font-ppradio text-textPrimary lg:mb-4 lg:leading-heading-desktop leading-heading-mobile"
        >
          Smart technology, <br />
          human connection
        </h2>

        <div class="md:block hidden">
          <button
            type="button"
            class="cursor-pointer bg-btnPrimary text-white text-body-mobile leading-body-mobile py-button-padding-y mx-auto md:ml-0 min-h-[56px] min-w-[130px] px-button-padding-x-desktop rounded-full font-figtree font-medium flex items-center gap-3"
          >
            Learn more
          </button>
        </div>
      </div>

      <div class="flex flex-col">
        <div
          class="rounded-xl p-[2px] pt-[8px] bg-brand-3 hover:p-[3px] hover:pt-[10px] hover:scale-x-[101%] transition-all duration-300 overflow-hidden"
        >
          <div class="py-container-padding-mobile px-text-gap-small rounded-xl bg-white">
            <p
              class="font-figtree font-normal lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary lg:pr-14"
            >
              Finding the right jeweller shouldn't be left to chance. Behind our
              simple interface is a powerful platform designed to understand
              your unique style. We analyse your visual preferences to make
              intelligent, data-driven recommendations.
            </p>
          </div>
        </div>

        <div
          class="rounded-xl p-[2px] pt-[8px] bg-brand-2 hover:p-[3px] hover:pt-[10px] hover:scale-x-[101%] transition-all duration-300 overflow-hidden z-10 mt-[-10px]"
        >
          <div class="py-container-padding-mobile px-text-gap-small rounded-xl bg-white">
            <p
              class="font-figtree font-normal lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary"
            >
              This blend of art and science is our secret to taking the
              guesswork out of the bespoke process, ensuring a better match and
              a more personal result.
            </p>
          </div>
        </div>
      </div>
      <button
        type="button"
        class="bg-btnPrimary md:hidden btn-after text-white text-body-mobile leading-body-mobile py-button-padding-y mx-auto md:ml-0 w-full min-h-[56px] justify-center px-button-padding-x-desktop rounded-full font-figtree font-medium flex items-center gap-3"
      >
        Learn More
      </button>
    </div>
  </div>
</section>