---
import { Image } from "astro:assets";
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <div
      class="text-center bg-cardColor rounded-xxxl lg:px-[150px] lg:py-[88px] py-grid-gap-mobile px-container-padding-mobile"
    >
      <h2
        class="lg:text-heading-desktop text-center mb-text-gap-medium text-heading-mobile md:text-subheading-mobile leading-heading-mobile lg:leading-heading-desktop lg:font-black font-normal text-textPrimary font-ppradio"
      >
        Ready to find your perfect jeweller?
      </h2>
      <p
        class="text-body-mobile text-center mb-heading-margin-top-desktop md:text-body-desktop leading-body-mobile lg:leading-large-mobile max-w-[880px] mx-auto font-normal text-textPrimary font-figtree"
      >
        Create your free style profile to explore our full community, get
        personalised matches based on your unique taste, and start a
        conversation with the right jeweller for you.
      </p>
      <button
        type="button"
        class="cursor-pointer bg-btnPrimary mx-auto text-white text-body-mobile leading-body-mobile py-button-padding-y min-h-[56px] min-w-[194px] px-button-padding-x-desktop rounded-full font-figtree font-medium flex items-center gap-3 btn-cta"
      >
        Get Started for Free
      </button>
    </div>
  </div>
</section>