---
import RingStyleAnalyzer from "./Chart.jsx";
---

<section class="py-section-padding-mobile md:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <div class="grid xl:grid-cols-2 gap-grid-gap-mobile lg:gap-grid-gap-desktop items-center">
      <div class="text-center md:text-start">
        <div
          class="md:text-body-mobile text-tiny font-medium md:leading-body-desktop leading-small text-textPrimary bg-cardColor py-badge-padding-y px-badge-padding-x font-figtree rounded-xxxl inline"
        >
          OUR TECHNOLOGY
        </div>
        <h1
          class="md:text-hero-desktop text-hero-mobile mt-heading-margin-top-mobile md:mt-heading-margin-top-desktop text-center md:text-start leading-hero-mobile text-textPrimary font-black md:leading-hero-desktop font-ppradio mb-text-gap-small md:mb-text-gap-medium"
        >
          Boutee can see a ring's style
        </h1>

        <p
          class="md:text-large-desktop text-body-mobile mt-[10px] md:mt-0 text-center md:text-start leading-body-mobile md:leading-large-desktop text-textSecondary font-figtree"
        >
          Select a ring to see its unique Style DNA come to life
        </p>
      </div>

      <div class="flex justify-center xl:justify-end">
        <RingStyleAnalyzer client:load />
      </div>
    </div>
  </div>
</section>