---
import PerfectMatchChart from "./PerfectMatchChart";
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <div class="flex flex-col gap-m lg:gap-text-gap-small overflow-hidden">
      <h1
        data-aos="fade-up"
        class="font-ppradio font-black text-heading-mobile leading-heading-mobile lg:text-heading-desktop lg:leading-[56px] text-textPrimary text-center"
      >
        It all leads to the perfect match
      </h1>
      <p
        class="font-figtree md:max-w-[768px] mx-auto font-normal text-body-mobile md:text-body-desktop leading-body-mobile md:leading-body-desktop text-textSecondary text-center"

      >
        A great match is about more than just a single style. Our platform
        combines your nuanced Style Profile with your practical preferences—like
        budget and location—to recommend the best possible creative partners for
        you. See it in action by selecting a persona.
      </p>
    </div>

    <div>
      <PerfectMatchChart client:load />
    </div>
  </div>
</section>