---
import { Image } from "astro:assets";
import heroImg from "../../assets/Image/how-banner.png";
import heroImgMobile from "../../assets/Image/how-banner-mobile.png";
import btnIcon from "../../assets/icons/btn-icon.svg";
import heroRating from "../../assets/icons/hero-rating.svg";
---

<section class="md:py-[112px] pt-[40px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div class="grid lg:grid-cols-2 lg:gap-20 gap-[48px] items-center">
      <div>
        <h1
          class="md:text-[80px] text-[48px] text-center md:text-start leading-[42px] text-textPrimary font-black md:leading-[84px] font-figtree md:mb-6 mb-[16px]"
        >
      Bespoke, made simple
        </h1>

        <p class="md:text-xl text-[16px] text-center md:text-start leading-[20px] md:leading-[24px] text-textSecondary font-figtree mb-12">
        Commissioning a ring should be exciting, not intimidating. We've broken down the entire process into clear, simple steps, so you know exactly what to expect from start to finish.
        </p>
        <button
          type="button"
          class="spinBtn cursor-pointer bg-btnPrimary howBtn-after relative text-white text-base leading-5 py-2 mx-auto md:ml-0 md:min-h-[56px] min-h-[48px] min-w-[212px] px-6 rounded-full font-figtree font-medium flex items-center gap-3"
        >
          <Image src={btnIcon} class="btnIcon w-5 h-5" alt="" />
          Find Your Jeweller
        </button>
      </div>

      <div class="flex justify-center lg:justify-end">
        <Image src={heroImg} class="w-full h-full md:block hidden max-h-[600px] object-cover" alt="hero-image" />
        <Image src={heroImgMobile} class="w-full h-full md:hidden" alt="hero-image" />
      </div>
    </div>
  </div>
</section>
