---
import { Image } from "astro:assets";
import cardImg from "../../assets/Image/card-img1.png";
import cardImg1 from "../../assets/Image/card-img2.png";
import cardImg2 from "../../assets/Image/card-img3.png";
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <div class="overflow-hidden">
      <h2
        data-aos="fade-up"
        class="lg:text-heading-desktop text-heading-mobile font-ppradio leading-heading-mobile font-black text-center lg:leading-heading-desktop text-textPrimary lg:mb-grid-gap-desktop mb-component-gap-medium"
      >
        The Boutee Process
      </h2>
    </div>

    <div class="grid md:grid-cols-3 lg:gap-component-gap-medium gap-m">
      <div
        class="bg-cardColor rounded-xxxl flex flex-col items-center text-center"
      >
        <div
          class="w-full lg:min-h-[400px] min-h-[237px] lg:max-h-[400px] max-h-[327px] overflow-hidden"
        >
          <Image
            src={cardImg}
            alt="card img"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="lg:p-container-padding-mobile py-text-gap-small px-container-padding-mobile">
          <h3
            class="lg:text-large-desktop text-body-desktop font-bold font-figtree lg:leading-large-desktop leading-large-mobile mb-s text-textPrimary"
          >
            Build Your Style Profile
          </h3>
          <p
            class="text-textPrimary font-figtree lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile"
          >
            In the Boutee app, you can set your budget and like rings to create
            a visual moodboard, or connect your Pinterest board. The more you
            add, the better we'll understand your taste.
          </p>
        </div>
      </div>
      <div
        class="bg-cardColor rounded-xxxl flex flex-col items-center text-center"
      >
        <div
          class="w-full lg:min-h-[400px] min-h-[237px] lg:max-h-[400px] max-h-[327px] overflow-hidden"
        >
          <Image
            src={cardImg1}
            alt="card img"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="lg:p-container-padding-mobile py-text-gap-small px-container-padding-mobile">
          <h3
            class="lg:text-large-desktop text-body-desktop font-bold font-figtree lg:leading-large-desktop leading-large-mobile mb-s text-textPrimary"
          >
            Get Recommendations
          </h3>
          <p
            class="text-textPrimary font-figtree lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile"
          >
            Our technology analyses your style and matches you with independent
            jewellers who are a great fit. Browse your recommendations or
            explore all our jewellers.
          </p>
        </div>
      </div>
      <div
        class="bg-cardColor rounded-xxxl flex flex-col items-center text-center"
      >
        <div
          class="w-full lg:min-h-[400px] min-h-[237px] lg:max-h-[400px] max-h-[327px] overflow-hidden"
        >
          <Image
            src={cardImg2}
            alt="card img"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="lg:p-container-padding-mobile py-text-gap-small px-container-padding-mobile">
          <h3
            class="lg:text-large-desktop text-body-desktop font-bold font-figtree lg:leading-large-desktop leading-large-mobile mb-s text-textPrimary"
          >
            Start a Conversation
          </h3>
          <p
            class="text-textPrimary font-figtree lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile"
          >
            When you're ready, send an enquiry directly from the app. You can
            include your top inspiration rings to get the conversation started.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>