---
import { Image } from "astro:assets";
import heroImg from "../../assets/Image/hero-img.png";
import userJewellers from "../../assets/Image/Jewellers-avtar.png";

import btnIcon from "../../assets/icons/btn-icon.svg";
import heroRating from "../../assets/icons/hero-rating.svg";
---

<section class="md:py-[112px] pt-[40px] pb-[24px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div class="grid lg:grid-cols-2 lg:gap-20 gap-[20px] items-center">
      <div>
        <div class="flex md:flex-row flex-col items-center gap-2 md:mb-20 mb-[36px]">
          <div>
            <Image src={userJewellers} alt="" />
          </div>
          <p class="md:text-base text-textPrimary  text-[14px] font-figtree">100+ jewellers on the platform</p>
        </div>

        <h1
          class="md:text-[80px] text-[48px] text-center md:text-start leading-[42px] text-textPrimary font-black md:leading-[84px] font-figtree md:mb-6 mb-[16px]"
        >
          More quality.<br />
          Less mark-up.
        </h1>

        <p class="md:text-xl text-[16px] text-center md:text-start leading-[20px] md:leading-[24px] text-textSecondary font-figtree mb-12">
          We match you with the perfect independent jeweller for your style and
          budget. Work directly with them to create a ring, without the
          traditional overhead.
        </p>
        <button
          type="button"
          class="bg-btnPrimary btn-after text-white text-base leading-5 py-2 mx-auto md:ml-0 md:min-h-[56px] min-h-[48px] min-w-[212px] px-6 rounded-full font-figtree font-medium flex items-center gap-3"
        >
          <Image src={btnIcon} class="w-5 h-5" alt="image" />
          Find Your Jeweller
        </button>

        <div class="md:mt-20 mt-[36px]"> 
          <Image alt="image" src={heroRating} class='max-w-[235px] mx-auto md:ml-0 md:max-w-none' />
        </div>
      </div>

      <div class="flex justify-center lg:justify-end">
        <Image src={heroImg} class="w-full h-full" alt="image" />
      </div>
    </div>
  </div>
</section>
