---
import { Image } from "astro:assets";
import cardImg from "../../assets/Image/card-img1.png";
import cardImg1 from "../../assets/Image/card-img2.png";
import cardImg2 from "../../assets/Image/card-img3.png";
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto overflow-hidden">
    <h2 data-aos="fade-up" class="lg:text-heading-desktop text-heading-mobile font-ppradio leading-heading-mobile lg:font-black font-normal text-center lg:leading-heading-desktop text-textPrimary lg:mb-grid-gap-desktop mb-component-gap-medium animate-fade-in-up">
      Your journey to a <br /> bespoke ring, made simple
    </h2>

    <div class="grid md:grid-cols-3 lg:gap-component-gap-medium gap-m">
      <div class="bg-cardColor rounded-xxxl flex flex-col items-center text-center">
        <div class="w-full lg:min-h-[400px] min-h-[237px] lg:max-h-[400px] max-h-[327px] overflow-hidden">
          <Image src={cardImg} alt="card img" format="webp" class="w-full h-full object-cover" />
        </div>
        <div class="lg:p-container-padding-mobile py-text-gap-small px-container-padding-mobile">
          <h3 class="lg:text-large-desktop text-body-desktop font-bold font-figtree lg:leading-large-desktop leading-large-mobile mb-s text-textPrimary">
            Define Your Style
          </h3>
          <p class="text-textPrimary font-figtree lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile">
            Like rings you love and tell us your preferences. Our platform
            builds your unique Style Profile, just like a personal shopper.
          </p>
        </div>
      </div>
      <div class="bg-cardColor rounded-xxxl flex flex-col items-center text-center">
        <div class="w-full lg:min-h-[400px] min-h-[237px] lg:max-h-[400px] max-h-[327px] overflow-hidden">
          <Image src={cardImg1} alt="card img" format="webp" class="w-full h-full object-cover" />
        </div>
        <div class="lg:p-container-padding-mobile py-text-gap-small px-container-padding-mobile">
          <h3 class="lg:text-large-desktop text-body-desktop font-bold font-figtree lg:leading-large-desktop leading-large-mobile mb-s text-textPrimary">
            See Your Matches
          </h3>
          <p class="text-textPrimary font-figtree lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile">
            We show you a curated selection of independent jewellers whose style
            and expertise are the perfect fit for you and your budget.
          </p>
        </div>
      </div>
      <div class="bg-cardColor rounded-xxxl flex flex-col items-center text-center">
        <div class="w-full lg:min-h-[400px] min-h-[237px] lg:max-h-[400px] max-h-[327px] overflow-hidden">
          <Image src={cardImg2} alt="card img" format="webp" class="w-full h-full object-cover" />
        </div>
        <div class="lg:p-container-padding-mobile py-text-gap-small px-container-padding-mobile">
          <h3 class="lg:text-large-desktop text-body-desktop font-bold font-figtree lg:leading-large-desktop leading-large-mobile mb-s text-textPrimary">
            Start a Conversation
          </h3>
          <p class="text-textPrimary font-figtree lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile">
            Connect directly with your chosen jeweller to bring your ideas to
            life. No hidden fees, no confusing process - just a clear path to
            your perfect ring.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>