---
import { Image } from "astro:assets";
import heroImg from "../../assets/Image/jws-hero.png";
import userJewellers from "../../assets/Image/Jewellers-avtar.png";
import btnIcon from "../../assets/icons/btn-icon.svg";
import heroImgMobile from "../../assets/Image/jws-hero-mobile.png";
---

<section class="md:py-[112px] pt-[36px] pb-[24px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div class="grid lg:grid-cols-2 lg:gap-20 gap-[48px] items-center">
      <div class="flex flex-col items-center md:items-start md:justify-start justify-center">
       <div class="md:text-[16px] text-[10px] font-medium md:leading-[20px] leading-[14px] text-textPrimary bg-cardColor md:py-[8px] py-[5px] md:px-[16px] px-[12px] font-figtree rounded-[40px] inline">
        OUR JEWELLERS
       </div>

        <h1
          class="md:text-[80px] md:mt-[48px] mt-[32px] text-[48px] text-center md:text-start leading-[42px] text-textPrimary font-black md:leading-[84px] font-figtree md:mb-6 mb-[16px]"
        >
      The difference <br> is the maker
        </h1>

        <p class="md:text-xl text-[16px] text-center md:text-start leading-[20px] md:leading-[24px] text-textSecondary font-figtree md:mb-12 mb-[36px]">
         A truly exceptional ring is born from a partnership between a visionary client and a skilled artist. We've built our private community by seeking out the most talented independent jewellers in Britain.
        </p>
        <button
          type="button"
          class="bg-btnPrimary relative btn-after-jewellers z-[9] text-white text-base leading-5 py-2 mx-auto md:ml-0 md:min-h-[56px] min-h-[48px] min-w-[212px] px-6 rounded-full font-figtree font-medium flex items-center gap-3"
        >
          <Image src={btnIcon} class="w-5 h-5" alt="image" />
          Find Your Jeweller
        </button>

    
         <div class="flex md:mt-[84px] mt-[52px] md:flex-row flex-col items-center gap-2">
          <div>
            <Image src={userJewellers} alt="" />
          </div>
          <p class="md:text-base text-textPrimary  text-[14px] font-figtree">100+ jewellers on the platform</p>
        </div>
      </div>

       <div class="flex justify-center lg:justify-end">
        <Image src={heroImg} class="w-full h-full md:block hidden max-h-[600px] object-cover" alt="hero-image" />
        <Image src={heroImgMobile} class="w-full h-full md:hidden" alt="hero-image" />
      </div>
    </div>
  </div>
</section>
