---

---

<section class="lg:py-[112px] py-[48px]">
     <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">

        <div class="lg:mb-[80px] mb-[24px]">

            <div class="flex justify-between items-center w-full">
                <h2 class=" lg:text-[52px] text-[32px] lg:leading-[56px] leading-[36px] font-black  font-figtree">Related posts </h2>
           <button
        class="font-figtree font-medium text-base leading-5 text-textPrimary bg-cardColor py-[14px] px-[24px] h-12 rounded-[16px] lg:w-fit lg:mx-auto cursor-pointer"
      >
        View more
      </button>
            </div>
           
        </div>

  <div class="grid md:grid-cols-2 lg:gap-[40px] gap-[20px]">
    
  </div>
  </div>
</section>
