---
import { Image } from "astro:assets";
import Grow1 from "../../assets/icons/grow-1.svg";
import Grow2 from "../../assets/icons/grow-2.svg";
import Grow3 from "../../assets/icons/grow-3.svg";
---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <!-- Heading -->
    <div class="">
      <h2 class="lg:text-heading-desktop text-heading-mobile lg:leading-heading-desktop leading-heading-mobile font-black text-center font-ppradio md:text-start md:mb-text-gap-small mb-m">
        A smarter way <br class="hidden md:block"/> to grow your business
      </h2>
      <p class="font-figtree lg:text-large-desktop text-body-desktop text-center md:text-start lg:leading-large-desktop leading-large-mobile text-textSecondary">
        A few reasons jewellers love working with us
      </p>
    </div>

    <!-- Cards -->
    <div class="grid md:grid-cols-3 lg:gap-component-gap-medium gap-m lg:mt-grid-gap-desktop mt-text-gap-medium">
      <!-- Card 1 -->
      <div class="bg-cardColor rounded-xxxl p-container-padding-mobile">
        <div class="w-[64px] h-[64px] flex items-center justify-center bg-brand-4 rounded-xl mb-text-gap-medium">
          <Image src={Grow1} alt='icon' class='w-[32px] h-[32px]' />
        </div>
        <h3 class="lg:text-heading-mobile text-[22px] lg:leading-heading-mobile leading-[26px] font-black mb-s text-textPrimary font-ppradio">
          Receive qualified, <br/> style-matched leads
        </h3>
        <p class="lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary font-figtree">
          <strong>Stop wasting time on mismatched enquiries.</strong>
        </p>
        <p class="lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary font-figtree mt-6">
          Our technology analyzes a client's unique style profile, ensuring the introductions we send are already a strong creative fit.
        </p>
      </div>

      <!-- Card 2 -->
      <div class="bg-cardColor rounded-xxxl p-container-padding-mobile">
        <div class="w-[64px] h-[64px] flex items-center justify-center bg-brand-4 rounded-xl mb-text-gap-medium">
          <Image src={Grow2} alt='icon' class='w-[32px] h-[32px]' />
        </div>
        <h3 class="lg:text-heading-mobile text-[22px] lg:leading-heading-mobile leading-[26px] font-black mb-s text-textPrimary font-ppradio">
          Stand out <br/> from the crowd
        </h3>
        <p class="lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary font-figtree">
          <strong>You won't get lost in a sea of listings.</strong>
        </p>
        <p class="lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary font-figtree mt-6">
          Boutee is a curated platform where clients see the jewellers most relevant to them, ensuring your unique work gets seen by the right people.
        </p>
      </div>

      <!-- Card 3 -->
      <div class="bg-cardColor rounded-xxxl p-container-padding-mobile">
        <div class="w-[64px] h-[64px] flex items-center justify-center bg-brand-4 rounded-xl mb-text-gap-medium">
          <Image src={Grow3} alt='icon' class='w-[32px] h-[32px]' />
        </div>
        <h3 class="lg:text-heading-mobile text-[22px] lg:leading-heading-mobile leading-[26px] font-black mb-s text-textPrimary font-ppradio">
          Keep your process, <br/> your way
        </h3>
        <p class="lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary font-figtree">
          <strong>Stop wasting time on mismatched enquiries.</strong>
        </p>
        <p class="lg:text-body-desktop text-body-mobile lg:leading-large-mobile leading-body-mobile text-textPrimary font-figtree mt-6">
          Our technology analyzes a client's unique style profile, ensuring the introductions we send are already a strong creative fit.
        </p>
      </div>
    </div>
  </div>
</section>