---

---

<section class="py-section-padding-mobile lg:py-section-padding-desktop">
  <div class="max-w-container-max-width px-container-padding-mobile lg:px-container-padding-desktop mx-auto">
    <div class="text-center">
      <h2 class="lg:text-[40px] text-[28px] lg:leading-hero-mobile leading-heading-mobile font-bold text-gray-900 font-figtree">
        We made Boutee for jewellers, designers and small teams who want to be discovered
      </h2>
    </div>
  </div>
</section>