---
import TestimonialCarousel from "../common/TestimonialCarousel.jsx";

const items = [
  { 
    id: 1,
    review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", 
    name: "Izzy Russo",
    location: "Matched with Kintaa",
    userImage:"/src/assets/Image/img-test.png"
  },
  { 
    id: 2,
    review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", 
    name: "Izzy Russo",
    location: "Matched with The Lane",
    userImage:"/src/assets/Image/img-test.png"
  },
  { 
    id: 3,    
    review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", 
    name: "Izzy Russo",
    location: "Matched with Jodie Gearing",
    userImage:"/src/assets/Image/img-test.png"
  },
  { 
    id: 4,    
    review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt", 
    name: "Izzy Russo",
    location: "Matched with Jodie Gearing",
    userImage:"/src/assets/Image/img-test.png"
  },
];
---

<section class="lg:pt-section-padding-desktop lg:pb-grid-gap-desktop py-component-gap-medium">
  <div class="max-w-container-max-width lg:px-[65px] px-container-padding-mobile mx-auto overflow-hidden">
    <h2 data-aos="fade-up" class="lg:text-heading-desktop text-heading-mobile lg:leading-heading-desktop leading-heading-mobile font-black text-textPrimary font-ppradio text-center">
      Don't just take our word for it
    </h2>
    <p class="lg:text-large-desktop text-body-desktop lg:leading-large-desktop leading-large-mobile text-textSecondary font-figtree text-center mt-text-gap-small">
      Discover what jewellers say about working with us
    </p>
    <TestimonialCarousel client:load items={items} />
  </div>
</section>