---
import TestimonialCarousel from "../common/TestimonialCarousel.jsx";

const items = [
  { 
    id: 1,
    review: "Joining Boutee has been a wonderful experience! From the very beginning, the onboarding process was seamless and straightforward, with clear guidance and excellent communication every step of the way. The platform connects me with customers who really appreciate quality craftsmanship. I’m very proud to be part of the Boutee community and highly recommend it to other makers looking for a positive and professional place to showcase their work.", 
    name: "Luke Brient",
    location: "Norfolk",
    userImage:"/src/assets/Image/luke.png"
  },
  { 
    id: 2,
    review: "Boutee is a community-inspired jewellery platform that supports independent jewellers. The platform is highly curated, easy to use, and its founders, Ethan and Billy, are incredibly friendly and hands-on — they’ll guide you through every step of the process. I highly recommend joining them!", 
    name: "Edward Xu",
    location: "London",
    userImage:"/src/assets/Image/edward.png"
  },
];
---

<section class="lg:pt-section-padding-desktop lg:pb-grid-gap-desktop py-component-gap-medium">
  <div class="max-w-container-max-width lg:px-[65px] px-container-padding-mobile mx-auto overflow-hidden">
    <h2 data-aos="fade-up" class="lg:text-heading-desktop text-heading-mobile lg:leading-heading-desktop leading-heading-mobile font-black text-textPrimary font-ppradio text-center">
      Don't just take our word for it
    </h2>
    <p class="lg:text-large-desktop text-body-desktop lg:leading-large-desktop leading-large-mobile text-textSecondary font-figtree text-center mt-text-gap-small">
      Discover what jewellers say about working with us
    </p>
    <TestimonialCarousel client:load items={items} />
  </div>
</section>